.button {
  position: relative;
  background: blue;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  
}

.button:after {
  content: "";
  position: absolute;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 1.2s ease; 
}

.button:active:after {
  opacity: 1;
  transform: scale(4);  
  transition: 0s;
}