body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #333;
}

.navbar {
    display: flex;
    background: #222;
    padding: 15px;
    justify-content: center;
}


.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav a:hover {
    background: #555;
    border-radius: 5px;
}

.box {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.header h1, .header h2 {
    margin: 0;
    color: #222;
}

.header p {
    color: #666;
    margin-top: 10px;
}

.data {
    margin-top: 20px;
    line-height: 1.6;
}

.part {
    margin-bottom: 20px;
}